@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');
@import url(//db.onlinewebfonts.com/c/0407ed4aef00d4db57f6001e710e0a85?family=Castellar);
@import url(//db.onlinewebfonts.com/c/9ecec61376083fd290b75d94fdaca380?family=Baskerville+Old+Face);

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
html { overflow-x: hidden !important; }
body {
  background:#000;
  font:14px 'Baskerville Old Face', 'HY견명조', sans-serif;
  line-height:1;
  color:#787878;
  width:100%;  height:100vh;
  min-width:320px;
}
ul, li { list-style:none; }
a { text-decoration:none; }
.clear:after {
  content:'';
  display:block;
  clear:both;
}
.hide {
  display:block;
  width:0;
  height:0;
  font-size:1px;
  overflow:hidden;
}

/* 헤더 */
/* 로고 */
#logo a {
  font-family: 'Castellar', sans-serif;
  font-size: 50px;
  color:whitesmoke;
  position:fixed;
  left:1vw; top:2vh;
  z-index: 10;
}

/* 메뉴 */
#menu {
  z-index: 10;
  position:fixed;
  left:50%; top:10px;
  transform: translateX(-50%);
  margin-top:25px;
}
#menu ul li {
  display:inline-flex;
  margin:0 35px;
}
#menu ul li a {
  font:30px 'Baskerville Old Face', 'HY견명조', sans-serif;
  color:whitesmoke;
  text-shadow:0 0 10px black;
  position:relative;
  padding-bottom:3px;
}

/* 페이지 */
#wine { background:url(../images/img01.png) no-repeat 50% 50% / cover; }
#whisky { background:url(../images/img02.png) no-repeat 50% 50% / cover; }
#beer { background:url(../images/img03.png) no-repeat 50% 50% / cover; }
#mgl { background:url(../images/img04.png) no-repeat 50% 50% / cover; }
#sake { background:url(../images/img05.png) no-repeat 50% 50% / cover; }

section {
  padding:0 100px;
  width:100%;  height:100%;
  position: relative;
}
section:before {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  background:rgba(0,0,0,.23);
}

/* 텍스트 */
section .wrap {
  position:relative;
}
section .wrap .text {
  position: relative;
  display:flex;
  align-items: flex-end;
  margin-bottom:23px;
  z-index: 10;
}
section .wrap .text a {
  font-size:80px;
  color:whitesmoke;
  text-shadow:0 0 16px whitesmoke;
  margin-right:25px;
}
section .wrap .text a:after,
#menu ul li a:after {
  content:'';
  position: absolute;
  left: 50%; bottom: 0;
  width: 0; height: 3px;
  background: whitesmoke;
  transition: all .5s;
}
section .wrap .text a:before,
#menu ul li a:before {
  content:'';
  position: absolute;
  right: 50%; bottom: 0;
  width: 0; height: 3px;
  background: whitesmoke;
  transition: all .5s;
}
#menu ul li a:after,
#menu ul li a:before {
  width: 0; height: 2px;
}
section .wrap .text a:hover:after,
#menu ul li a:hover:after {
  width:50%;
}
section .wrap .text a:hover:before,
#menu ul li a:hover:before {
  width:50%;
}
section .wrap .text p {
  font-family: 'HYGraphic', sans-serif;
  font-size:25px;
  color:whitesmoke;
  position: relative;
  bottom:10px;
  text-shadow:0 0 10px black;
}

/* 리스트 */
section .wrap .list {
  display:flex;
  margin-left:-30px;
}
section .wrap .list li {
  /* border:1px solid pink; */
  text-align: center;
  padding:0 30px;
}
section .wrap .list li a .box {
  width:265px; height:265px;
  border-radius: 20px;
  background:rgba(63,63,63,.23);
  box-shadow: 14px 14px 14px rgba(0,0,0,.6);
  margin-bottom:25px;
  backdrop-filter: blur(30px);
  display:flex; padding:25px;
  transition: .6s;
}
section .wrap .list li a .box .ho-ver {
  display:flex; padding:5px;
}
section .wrap .list li a .box img {
  filter: drop-shadow(5px 5px 5px  rgba(0,0,0,.6));
}
section .wrap .list li a p {
  font-family: 'HYGraphic', sans-serif;
  font-size:25px;
  color:whitesmoke;
  text-shadow:0 0 10px black;
}
section .wrap .list li a:hover .box {
  background:rgba(255, 255, 255, 0.23);
}
section .wrap .list li a .box .ho-ver img {
  transition: .6s;
}
section .wrap .list li a:hover .box .ho-ver img {
  transform:scale(1.2, 1.2);
}

/* 푸터 */
.footer {
  position:relative;
}
#footer {
  width:100vw; height:100%;
  position:absolute;
  left:0; top:0;
  background: radial-gradient(circle, rgb(66, 66, 66) 0%, rgba(0,0,0,1) 100%);
}
footer .wrap .left .logo {
  font-family: 'Castellar', sans-serif;
  font-size: 50px;
  color:whitesmoke;
  position:absolute;
  left:30vw; top:60px;
  z-index: 10;
}
footer .wrap .right {
  width:50vw; height:100%;
  position: relative;
  transform: translate(100%, 30%);
}
footer .wrap .right .wrap {
  display:flex;
  flex-wrap: wrap;
  font-family: 'HYGraphic', sans-serif;
  color:whitesmoke;
  height:100%;
  align-content: space-around;
}
footer .wrap .right .wrap .info {
  width:100%;
  line-height: 15px;
}
footer .wrap .right .wrap .more {
  width:100%;
  margin:15px 0;
  display:flex;
}
footer .wrap .right .wrap .more a {
  color:whitesmoke;
  position: relative;
}
footer .wrap .right .wrap .more a:before {
  position: absolute;
  left:116%; top:50%;
  transform: translateY(-50%);
  content:'';
  background:whitesmoke;
  width:1px; height:10px;
  cursor:default;
}
footer .wrap .right .wrap .more:last-child a:before {
  display:none;
}
footer .wrap .right .wrap .more a ~ a {
  margin-left:25px;
}
footer .wrap .right .wrap p {
  opacity: .6;
}

.fp-auto-height.fp-section, 
.fp-auto-height .fp-slide, 
.fp-auto-height .fp-tableCell {
  height:300px !important;
}